.hero {
  position: relative;
}

.hero .container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.hero-carousel .carousel-item {
  width: 80%;
  height: 100%;
  position: relative;
  z-index: 40;
}

.carousel-image {
  margin: 0 auto;
  width: 60%;
  height: 50%;
  object-fit: cover;
  position: relative;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #000;
}

.ant-carousel .slick-prev {
  left: 10px;
}

.ant-carousel .slick-next {
  right: 10px;
}

.ant-carousel .slick-dots {
  position: relative;
  bottom: auto;
}

.ant-carousel .slick-dots li button {
  background: black;
}

.ant-carousel .slick-dots li {
  margin-left: 10px;
}

.hero__icons {
  position: relative;
  bottom: 330px;
  left: 60px;
}

.hero__content {
  height: 932px;
  padding: 130px 0px;
  
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%); /* Matn chapdan boshlanadi */
  }
  100% {
    transform: translateX(100%); /* Matn o'ng tomonga chiqib ketadi */
  }
}

.overlay {
  position: absolute;
  border:1px solid rgb(56, 56, 255);
  bottom: 0; /* Matn pastdan chiqishni boshlaydi */
  left: 0;
  width: 100%; /* Matn kengligi butunlay o'zlaydi */
  height: 100px; /* Matn yo'li uchun balandlik */
  background-color: rgba(116, 150, 237, 0.907); /* Matn yo'li uchun fon rangi */
  overflow: hidden; /* Matn qirralarini yashirish uchun */
}

.car-name {
  display: inline-block;
  font-size: 70px;
  color: white;
  white-space: nowrap;
  padding-left: 100%; /* Matnni chapdan boshlash uchun qo'shiladi */
  animation: scrollRight 10s linear infinite; /* Harakatni animatsiya qilish */
}
