.hero {
     background: linear-gradient(white, white, white,rgba(236, 248, 253, 0.821));
  }
  
   .hero .container {
    width: 80%;
    height: 100%;
  }
  
  .hero-carousel .carousel-item {
    height: 100%; 
    position: relative; 
  }
  
  .carousel-image {
    margin: 0 auto;
    width: 60%;
    height: 50%;
    object-fit:cover; 
  }
  
  .ant-carousel .slick-prev,
  .ant-carousel .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px; 
    color: #000; 
  } 

  .ant-carousel .slick-prev {
    left: 10px; 
  }
  
  .ant-carousel .slick-next {
    right: 10px; 
  }
  
  .ant-carousel .slick-dots {
    position: relative;
    bottom: auto;
  }
  
  .ant-carousel .slick-dots li button {
    background: black;
  }

  .ant-carousel .slick-dots li{
    margin-left: 10px;
  }
  
  .car-name {
    position: relative;
    position: absolute;
    bottom:  auto; 
    left: 50%; 
    transform: translateX(-50%); 
    color: rgba(123, 117, 117, 0.8);
    font-size: 55px; 
    z-index: 10;
    animation: dropIn 1s ease-out;
  }

  .hero__icons {
    position: relative;
    bottom:400px;
    left:60px
  }
   
  .hero__content {
    height:800px;
    padding:40px 0px;
  }
  