
.card {
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;  
    padding: 30px; 
    width: 310px; 
    margin: 16px;
  }
  
  .card-cover {
    width: 100%;
    height: auto;
  }
  
  .card-header, .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  .carName {
    color: #0000002c;
    font-size: 10px; 
    font-weight: bold; 
  }
  
  .price {
    color: #000000; 
    font-size: 16px; 
    font-weight: bold; 
  }
  
  .like-button {
    cursor: pointer;
    
  }
  
  .card-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.5em; 
  }
  
