.footer {
  background: linear-gradient(rgba(236, 248, 253, 0.821), white);
}

.footer__content {
  padding:150px 30px ;
  height: 480px;
  display: flex;
  justify-content: space-around;
}

.footer__content p {
  color: grey;
  margin-top: 30px;
}

.subfooter {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
}

.second {
  display: flex;
}

.footer hr {
   border: 1px solid blue;

}


